<br><br>

<div class="ms-3">

<button routerLink="/badges" mat-raised-button color="warn" class="fw-bold me-3">Badges</button>
<button routerLink="/bottom-sheet" mat-raised-button color="warn" class="fw-bold me-3">Bottom-sheet</button>
<button routerLink="/buttons" mat-raised-button color="warn" class="fw-bold me-3">Buttons & Icons</button>
<button routerLink="/button-toggle" mat-raised-button color="warn" class="fw-bold me-3">Button-Toggle</button>
<button routerLink="/cards" mat-raised-button color="warn" class="fw-bold me-3">Cards</button>
<button routerLink="/check-box" mat-raised-button color="warn" class="fw-bold me-3">Check-Box</button>

</div>
 
<br><br>

<router-outlet></router-outlet>

